    </div>
    <footer>
        <div class="footer">
            <span id="copyright">
                &copy; Gastonia Music Community
            </span>
            <span id="footerdetails">
                <a href="/about">ABOUT</a>
                <a href="/contact">CONTACT</a>
            </span>
        </div>
    </footer>
</body>
</html>