<%- include('./partials/header.ejs')%>
        <h3>About Gaston Music Community</h3> 
        <p>The website itself was built and is operated by David Jordan, a clasically trained oboist now working in the IT world. <br>
            He now works for Microsoft and is pursuing his master's in IT.<br><br>
            This website is for the music community in Gaston county, and is completely free of charge to use. The purpose is to bring the community together, and share our musical gifts with eachother.
        </p>
<%- include('./partials/footer.ejs')%>