<%- include('./partials/header.ejs')%>
        <h3>Contact Us</h3> 
        <p>Phone Number: <a href="tel:123-456-7890">704-524-4485</a><br>
           Email: <a href="mailto:djorda38@uncc.edu">djorda38@uncc.edu</a></p>
<%- include('./partials/footer.ejs')%>