<%- include('./partials/header.ejs')%>
            <p>Welcome to <b>Gastonia's Music Community site</b>.
                <br><br>This website is to connect musicians local to the Gastonia area to eachother. You can start a chamber ensemble, duo, trio, or just plan a jam session!
                <br>Feel free to also advertise private lessons, whether you're giving them or looking for them.
                <br><br>Check out the Connections page to find listings by other local musicians.
            </p>
<%- include('./partials/footer.ejs')%>